*

# except
!.gitignore
!*.m
!*.h
!*.c
!*.cpp
!*.txt
!*.md
!*.py

# even if in sub-dirs
!*/

# but never in these folders
*back/
*arch/
*.vscode/
*.egg-info/

examples_matlab/
+attr/
build/
dist/
matlab_deps/
